.rectangulo_blanco{
    position: fixed;
    background-color:whitesmoke;
    width : 99%;
    height: 15%;
} 
.barra1{
    margin-top: 4%;
    margin-right: 1em;
    text-align: right;
}
.barra1 a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-left: 1em;
    
  }